body{
  background-color: #E3E3E3;
}
.main-container {
  margin: 0 auto;
  width: 65%;
  padding: 5rem;
  background-color: #fff;
  // MEDIA QUERIES
  @include respond(tab-port){
    width: 100%;
  }
  @include respond(small-phone){
    padding: 8px;
  }

    // HEADER SECTION
.title {
    &__link-list{
      display: flex;
      justify-content: center;
      list-style: none;
      margin-top: 4rem;
      // MEDIA QUERIES
      @include respond(small-phone){
        padding-top: 3rem;
      }
      &__item
      {
        display: flex;
        align-items: center;
        &:first-child{
          border-right: 1px solid #686c73;
          margin: 0 5px;
          // MEDIA QUERIES
          @include respond(small-phone){
            display: none;
          }
        }
      }
        &__text{
          font-size: 14px;
          font-weight: 600;
          text-transform: uppercase;
          text-decoration: none;
          letter-spacing: 1px;
          margin: 0 5px;
          color: #686c73;
        }
      }

    // HEADING
    &__header{
        &__heading{
          font-size: 42px;
          font-weight: 600;
          line-height: 48px;
          letter-spacing: 1px;
          text-align: center;
          color: #232526;
          margin: 1rem;

          // MEDIA QUERIES
          @include respond(tab-port){
            font-size: 32px;
            line-height: 38px;
          }
          @include respond(small-phone){
            font-size: 23px;
            line-height: 28px;

          }
        
        }

        &__figure{
          display: flex;
          &__social-media{
            margin: 0 auto;
            width: 130px;
            height: 100%;
          }
        }
    }
    &__figure__video{
      display: flex;
      margin-top: 1rem;
      &__img{
        margin: 0 auto;
        width:100%; 
        height: 100%;
      }
    }

    &__question{
      margin-top: 1rem;
      // text-align: center;
      &__list{
       list-style: none;
       font-size: 18px;
       line-height: 16px;
       text-transform: uppercase;
       color: #686c73;
       
       &:last-child{
         font-size: 16px;
         line-height: 20px;
         text-transform: none;
         margin-top: 10px;
         color: #232526;
        &::before{
          content: "\25A0";  /* Add content: \2022 is the CSS Code/unicode for a bullet */
          margin-right: 5px;
          color: #FEB902;
         }
       }
      }
    }

    &__author{
      font-weight: 500;
      font-size: 16px;
      margin-top: 24px;
      color: #232526;
      // MEDIA QUERIES
        &__name{
          font-weight: 600;
          color: #FE411F;
          text-decoration: none;
        }
    }
   }


//    MAIN CONTENT
  .main-content{
    margin-top: 1rem;
      // PARAGRAPHS
    &__paragraph{
      font-size: 20px;
      font-weight: 400;
      line-height: 32px;
      margin-top: 1rem;
      color: #232526;
      // MEDIA QUERIES
      @include respond(small-phone){
        font-size: 18px;
      }
    }

    &__list{
      font-size: 20px;
      line-height: 24px;
      letter-spacing: 1px;
      margin-left: 1rem;
      margin-top: 1rem;
           // MEDIA QUERIES
           @include respond(small-phone){
            font-size: 18px;
            margin-left: 1.5rem;
          }

      &__items{
        margin-top: 10px;
      }
    }

    &__figure{
      margin: 1rem;
      &__img{
        display: flex;
        width: 55%;
        margin: 0 auto;
        // MEDIA QUERIES
        @include respond(small-phone){
          width: 100%;
        }
      }
    }

  }

}