.navbar{
    font-family: sans-serif;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    // TOP CONTAINER
    &__top-wrapper{
        display: flex;
        justify-content: space-between;
        height: 53px;
        background-color: #091528;
        .navbar__logo-wrapper{
            display: flex;
            align-items: center;
            list-style: none;
            margin-left: 3rem;
            &__item{
                margin-right: 1rem;
            }
            &__menu{
               width: 25px;
               margin-bottom: 4px;
            }
            &__logo{
                width: 190px;
                height: 32px;
                // MEDIA QUERIES
                @include respond(phone){
                    margin-left: 10rem;
                }
                @include respond(small-phone){
                    margin-left: 1.5rem;
                }
            }
        }
        // TOP CONTAINER LINKS
        .navbar__right-wrapper{
            display: flex;
            align-items: center;
            list-style: none;
            margin-right: 3rem;
            // MEDIA QUERIES
            @include respond(phone){
                display: none;
            }
            &__list{
                &__link{
                    font-size: 12px;
                    font-weight: 500;
                    letter-spacing: 1px;
                    margin: 0 10px;
                    text-decoration: none;
                    text-transform: uppercase;
                    color: #fff;
                    &:hover{
                        color: #fe4020;
                    }
                }
                &__search{
                    margin: 11px 0 0 16px;
                    width: 25px;
                    // MEDIA QUERIES
                    @include respond(small-phone){
                         width: 20px;
                         margin-left: 60px;
                    }
                }
                // MEDIA QUERIES
                @include respond(small-phone){
                    &:nth-child(-n+7) {
                        display: none;
                    }
                }
            }
         
        }
    }
    // MIDDLE CONTAINER
    &__middle-wrapper{
        display: flex;
        justify-content: center;
        list-style: none;
        padding: 10px 0;
        background-color: #fff;
        border-bottom: 1px solid #D7D7D9;
        &__list{
            &__link{
                font-size: 14px;
                font-weight: 600;
                letter-spacing: 1px;
                text-transform: uppercase;
                text-decoration: none;
                margin: 0 1rem;
                color: #000;
               // MEDIA QUERIES
              @include respond(tab-port){
                 font-size: 12px;
                 margin: 5px;
              }
              @include respond(small-phone){
                font-size: 15px;
                font-weight: 500;
                margin: 0 1.5rem;
              }
            }
            // MEDIA QUERIES
            @include respond(small-phone){
                &:nth-child(n+5) {
                    display: none;
                }
            }
          
        }
    }
    // BOTTOM CONTAINER
    &__bottom-wrapper{
        display: flex;
        justify-content: flex-start;
        align-items: center;
        list-style: none;
        padding: 10px 0;
        background-color: #fff;
        border-bottom: 1px solid #D7D7D9;
        // MEDIA QUERIES
        @include respond(phone){
            display: none;
        }
        &__list{
            &__link{
                font-size: 14px;
                letter-spacing: 1px;
                text-transform: uppercase;
                text-decoration: none;
                margin: 0 14px;
                padding-right: 7px;
                color: #000;
                       // MEDIA QUERIES
               @include respond(tab-port){
                  font-size: 12px;
                  margin: 5px;
             }
            }
            &:first-child{
                border-right: 1px solid #D7D7D9;
                margin-left: 6.5rem;
            }
            &:nth-child(2) {
                padding-left: 7px;
           }
            
        }
    }
}